#kc-logo-wrapper {
    background-image: url("../img/logo_en2x.png");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right;
    height: 200px;
}

#kc-header-wrapper {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.login-pf body {
    background: #ffffff;
    background-size: cover;
    color #000;
    font-family: Arial, Helvetica, sans-serif;
}

.login-pf .container {
    color: #000;
}

#rememberMe {
    color: #000;
}

.kc-feedback-text {
    color: #000;
}

.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #000;
}
